<%-include('partials/header.ejs') %>
<div class="container">
    <div class="jumbotron h1" style="margin-top:50px; text-align: center; background-color: #666666; color:#2dc997"><b>HOTEL DETAILS</b></div>
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-md-4">
            <div>
                <ul class="list-group">
                    <li class="list-group-item" style="text-align: center;">
                        Cost for 30 Minutes
                    </li>
                    <li class="list-group-item">
                    Simple Room<span class="fa-pull-right"><i class="fa fa-inr" aria-hidden="true"></i><%=hotel.cost_of_simple_room%></span>
                    </li>
                    <li class="list-group-item">
                        Deluxe Room Cost<span class="fa-pull-right"><i class="fa fa-inr" aria-hidden="true"></i><%=hotel.cost_of_deluxe_room%></span>
                    </li>
                    <li class="list-group-item">
                        Super Deluxe Room Cost<span class="fa-pull-right"><i class="fa fa-inr" aria-hidden="true"></i><%=hotel.cost_of_superDeluxe_room%></span>
                    </li>
                </ul>
            </div>
            <div style="margin-top: 100px;" class="img-thumbnail">
                <form action="/checkAvailability/<%=hotel._id%>" method="POST">
                        <div class="form-group">
                            <input type="text" name="roomType" list="items" placeholder="Room Type" class="form-control">
                            <datalist id="items">
                                <option value="Simple"></option>
                                <option value="Deluxe"></option>
                                <option value="Super Deluxe"></option>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <input type="number" placeholder="Number of Rooms" name="No_of_room" id="no" class="form-control">
                        </div>
                        
                            <div class="form-group form-inline">
                                    <input type="text"  onfocus="(this.type='datetime-local')" name="from" placeholder="From" class="form-control" style="width:100%"/>
                            </div>                       
                        <div class="form-group form-inline">
                            <input type="text" onfocus="(this.type='datetime-local')" name="to" placeholder="To" class="form-control" style="width:100%"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Pay" class="form-control" />
                        </div>
                </form>
            </div>

            <% if(currentUser){  %>
            <div class="img-thumbnail" style="margin-top:100px">
            
                    
                        <div class="form-group">
                            <textArea name="comment" placeholder="Comment" class="form-control" required id="foc"></textArea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Comment" id="cmt" class="form-control"/>
                        </div>
                    
            </div>
            <% } %>
        </div>

        <div class="col-lg-8 col-sm-8 col-md-8">
            <div class="img-thumbnail">
                <img src="<%=hotel.image%>" alt="hotel Kshipra" style="height:100%; width:100%;"/>
                <div class="h2" style="text-align: center;"><%=hotel.name%></div>
                <div><p style="text-indent: 40px;">    <%=hotel.description %></p></div>
            </div>

            <div id="appendComment">
            <% hotel.comment.forEach(function(comment){ %>
            <div class="card card-body bg-light" style="margin:10px 0px">
                    <blockquote><%= comment.Comment %></blockquote>
                        <div style="text-align: right;" class="credit"><cite>-<%= comment.Author.name %></cite></div>
                    
                  <%  if(currentUser){ %>
                        <% if(comment.Author.id==currentUser.id){  %>
                            <div class="form-inline">
                            <form action="/hotel/<%=hotel._id%>/comment/<%=comment._id%>/edit" method="get">
                                <input type="submit" value="Edit" class="btn" style="margin-right: 5px;">
                            </form>
                            <form id="delete-form" action="/hotel/<%=hotel._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn" id="del">Delete</button>
                            </form>
                        </div>
                        <%}%>
                     <% }  %>
            </div>
            <% }); %>
        </div>
        </div>
    </div>
    <div>    
  </div>
    

</div>
<script>
    function Amount(){
    var nos = document.getElementById("no").value;
    var types = document.getElementsByName("roomType")[0].value;
    var amount="";
    if(types.localeCompare("Simple")==0){
        amount = parseInt(nos) * parseInt("<%=hotel.cost_of_simple_room%>");
    }else if(types.localeCompare("Deluxe")==0){
        amount = parseInt(nos) * parseInt("<%=hotel.cost_of_deluxe_room%>");
    }else if(types.localeCompare("Super Deluxe")==0){
        amount = parseInt(nos) * parseInt("<%=hotel.cost_of_superDeluxe_room%>");
    }
    
        document.getElementById("app").innerHTML = amount;
}

$("#cmt").click(function(e){
    //    e.preventDefault();
       if($("#foc").val()!==""){
        var data = {
               comment:$("#foc").val()
        };
        $("#foc").val("");
        
    $.ajax({
        url : "/comment/<%=hotel._id %>",
        type : 'post',
        data : JSON.stringify(data),
        contentType : 'application/json'
    }).done(appendComment)
      .fail(failure)
       }
})



function appendComment(data){
            $("#appendComment").append('<div class="card card-body bg-light" style="margin:10px 0px"><blockquote>'+data.Comment+'</blockquote><div style="text-align: right;" class="credit"><cite>-'+data.Author.name+'</cite></div><div class="form-inline"><form action="/hotel/<%=hotel._id%>/comment/'+data._id+'/edit" method="get"><input type="submit" value="Edit" class="btn" style="margin-right: 5px;"></form><form id="delete-form" action="/hotel/<%=hotel._id%>/comment/'+data._id+'?_method=DELETE" method="POST"><button class="btn" id="del">Delete</button></form></div></div>');
    }

    function failure(){
        console.log("Request failed!");
    }

</script>


<%-include('partials/footer.ejs') %>
