


<%-include('partials/header.ejs') %>
<div class="container">
    <div class="jumbotron h1" style="margin-top:50px; text-align: center; background-color: #666666; color:#2dc997"><b>HOTEL DETAILS</b></div>
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-md-4">
            <div>
                <ul class="list-group">
                    <li class="list-group-item" style="text-align: center;">
                        Cost for 30 Minutes
                    </li>
                    <li class="list-group-item">
                    Simple Room<span class="fa-pull-right"><i class="fa fa-inr" aria-hidden="true"></i><%=hotel.cost_of_simple_room%></span>
                    </li>
                    <li class="list-group-item">
                        Deluxe Room Cost<span class="fa-pull-right"><i class="fa fa-inr" aria-hidden="true"></i><%=hotel.cost_of_deluxe_room%></span>
                    </li>
                    <li class="list-group-item">
                        Super Deluxe Room Cost<span class="fa-pull-right"><i class="fa fa-inr" aria-hidden="true"></i><%=hotel.cost_of_superDeluxe_room%></span>
                    </li>
                </ul>
            </div>
            <div style="margin-top: 100px;" class="img-thumbnail">
                <form action="/checkAvailability/<%=hotel._id%>" method="POST">
                        <div class="form-group">
                            <input type="text" name="roomType" list="items" placeholder="Room Type" class="form-control">
                            <datalist id="items">
                                <option value="Simple"></option>
                                <option value="Deluxe"></option>
                                <option value="Super Deluxe"></option>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <input type="number" placeholder="Number of Rooms" name="No_of_room" id="no" class="form-control">
                        </div>
                        
                        <div class="form-group form-inline">
                            <input type="text"  onfocus="(this.type='datetime-local')" name="from" placeholder="From" class="form-control" style="width:100%" id="from"/>
                        </div>                       
                        <div class="form-group form-inline">
                            <input type="text" onfocus="(this.type='datetime-local')" name="to" placeholder="To" class="form-control" style="width:100%" id="to"/>
                        </div>
                        <div class="form-group form-inline">
                            <input type="text" onfocus="Amount()" id="total" name="total"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Pay" class="form-control" />
                        </div>
                </form>
            </div>

            <% if(currentUser){  %>
            <div class="img-thumbnail" style="margin-top:100px">
            
                    
                        <div class="form-group">
                            <textArea name="comment" placeholder="Comment" class="form-control" required id="foc"></textArea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Comment" id="cmt" class="form-control"/>
                        </div>
                    
            </div>
            <% } %>
        </div>

        <div class="col-lg-8 col-sm-8 col-md-8">
            <div class="img-thumbnail">
                <img src="<%=hotel.image%>" alt="hotel Kshipra" style="height:100%; width:100%;"/>
                <div class="h2" style="text-align: center;"><%=hotel.name%></div>
                <div><p style="text-indent: 40px;">    <%=hotel.description %></p></div>
            </div>

            <div id="appendComment">
            <% hotel.comment.forEach(function(comment){ %>
            <div class="card card-body bg-light" style="margin:10px 0px">
                    <blockquote><%= comment.Comment %></blockquote>
                        <div style="text-align: right;" class="credit"><cite>-<%= comment.Author.name %></cite></div>
                    
                  <%  if(currentUser){ %>
                        <% if(comment.Author.id==currentUser.id){  %>
                            <div class="form-inline">
                            <form action="/hotel/<%=hotel._id%>/comment/<%=comment._id%>/edit" method="get">
                                <input type="submit" value="Edit" class="btn" style="margin-right: 5px;">
                            </form>
                            <form id="delete-form" action="/hotel/<%=hotel._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn" id="del">Delete</button>
                            </form>
                        </div>
                        <%}%>
                     <% }  %>
            </div>
            <% }); %>
        </div>
        </div>
    </div>
    <div>    
  </div>
    

</div>
<script>

window.history.forward(); 
        function noBack(){ 
            window.history.forward(); 
        } 
   function Amount(){
    var nos = document.getElementById("no").value;
    var types = document.getElementsByName("roomType")[0].value;
    var amount="";
    var from = document.querySelector("#from").value;
    var to = document.querySelector("#to").value;

    console.log("From="+from);
    console.log("To="+to);

    if(from!=="" && to!==""){

var fromDate = parseInt( from.substring(0,4) + from.substring(5,7) + from.substring(8,10) + from.substring(11,13) + from.substring(14,16));
    var toDate   = parseInt( to.substring(0,4) + to.substring(5,7) + to.substring(8,10) + to.substring(11,13) + to.substring(14,16));
    var flag=1;
    
    if(toDate-fromDate<30){
        console.log("You will have to book the room for at least 30 minutes");
        flag=0;
    }else{

    var fromYear = parseInt(from.substring(0,4));
    var toYear   = parseInt(to.substring(0,4));

    var fromMonth = parseInt(from.substring(5,7));
    var toMonth = parseInt(to.substring(5,7));

    var fromDay   = parseInt(from.substring(8,10));
    var toDay     = parseInt(to.substring(8,10));

    var fromHour  = parseInt(from.substring(11,13));
    var toHour    = parseInt(to.substring(11,13));

    var fromMinutes = parseInt(from.substring(14,16));
    var toMinutes   = parseInt(to.substring(14,16));
    
    var minutesDuration,hoursDuration,daysDuration,monthsDuration;   
   
    if(toMinutes>=fromMinutes){
        minutesDuration = toMinutes-fromMinutes;
    }else{
            toHour-=1;
            toMinutes+=60;
            minutesDuration = toMinutes-fromMinutes;
    }

    if(toHour>=fromHour){
        hoursDuration = toHour-fromHour;
    }else{
            toDay-=1;
            toHour+=24;
            hoursDuration = toHour-fromHour;
    }

    if(toDay>=fromDay){
        daysDuration=toDay-fromDay;
    }else{
            if(toMonth==1){
                toMonth-=1;
                toDay+=31;
                daysDuration=toDay-fromDay;
            }else if(toMonth==2){
                if(toYear%400){
                toMonth-=1;
                toDay+=29;
                daysDuration=toDay-fromDay;
                }else if(toYear%4==0 && toYear%100!=0){
                toMonth-=1;
                toDay+=29;
                daysDuration=toDay-fromDay;
                }else{
                toMonth-=1;
                toDay+=28;
                daysDuration=toDay-fromDay;
                }
            }else if(toMonth==3){
                toMonth-=1;
                toDay+=31;
                daysDuration=toDay-fromDay;
            }else if(toMonth==4){
                toMonth-=1;
                toDay+=30;
                daysDuration=toDay-fromDay;
            }else if(toMonth==5){
                toMonth-=1;
                toDay+=31;
                daysDuration=toDay-fromDay;
            }else if(toMonth==6){
                toMonth-=1;
                toDay+=30;
                daysDuration=toDay-fromDay;
            }else if(toMonth==7){
                toMonth-=1;
                toDay+=31;
                daysDuration=toDay-fromDay;
            }else if(toMonth==8){
                toMonth-=1;
                toDay+=31;
                daysDuration=toDay-fromDay;
            }else if(toMonth==9){
                toMonth-=1;
                toDay+=30;
                daysDuration=toDay-fromDay;
            }else if(toMonth==10){
                toMonth-=1;
                toDay+=31;
                daysDuration=toDay-fromDay;
            }else if(toMonth==11){
                toMonth-=1;
                toDay+=30;
                daysDuration=toDay-fromDay;
            }else if(toMonth==12){
                toMonth-=1;
                toDay+=31;
                daysDuration=toDay-fromDay;
            }
    }if(toMonth>=fromMonth){
        if(toMonth-fromMonth==1){
            if(((daysDuration==0) && (hoursDuration==0)) && (minutesDuration==0) && (toYear-fromYear==0)){
                monthsDuration=1;
            }else{
                console.log("Sorry we are not permitted to serve you for more than a month continuously");
                flag=0;
                minutesDuration=0;
                hoursDuration=0;
                daysDuration=0;
                monthsDuration=0; 
            }
        }else if(toMonth-fromMonth==0){
                if(toYear>fromYear){
                    console.log("Sorry we are not permitted to serve you for more than a month continuously");
                        flag=0;
                }else{
                    monthsDuration = 0;
                }
            }else{  //Greater than 1
                console.log("Sorry we are not permitted to serve you for more than a month continuously");
                flag=0;
                minutesDuration=0;
                hoursDuration=0;
                daysDuration=0;
                monthsDuration=0;

            }
    }else{  //toMonth<fromMonth and toyear>fromyear
        console.log("Month Less");
        if(toYear-fromYear==1){
            console.log("to-from=1");
            if((toMonth==1) && (fromMonth==12)){
                console.log("to=1 and from=12");
                if(((minutesDuration==0) && (hoursDuration==0)) && (daysDuration==0)){
                    console.log("Yes");
                    monthsDuration=1;
                }else{
                    console.log("Sorry we are not permitted to serve you for more than a month continuously");
                    flag=0;
                    minutesDuration=0;
                    hoursDuration=0;
                    daysDuration=0;
                    monthsDuration=0;
                }
            }else if( (toMonth==0) && (fromMonth==12) ){
                monthsDuration=0;
            }else{  //for any other months in which to<from wont work
                console.log("Sorry we are not permitted to serve you for more than a month continuously");
                flag=0;
            }
        }else{  //Since we are entering here only if the toyear is greater than fromyear therefore this condition would only be checked only if the year difference is greater than 1
                console.log("Sorry we are not permitted to serve you for more than a month continuously");
                flag=0;
                minutesDuration=0;
                hoursDuration=0;
                daysDuration=0;
                monthsDuration=0;
        }
    }

    // if(types.localeCompare("Simple")==0){
    //     var from = document.querySelector("#from").value;
    //     var to = document.querySelector("#to").value;
        
    //     amount = parseInt(nos) * parseInt("<%=hotel.cost_of_simple_room%>");
    // }else if(types.localeCompare("Deluxe")==0){
    //     amount = parseInt(nos) * parseInt("<%=hotel.cost_of_deluxe_room%>");
    // }else if(types.localeCompare("Super Deluxe")==0){
    //     amount = parseInt(nos) * parseInt("<%=hotel.cost_of_superDeluxe_room%>");
    // }
    
    // document.getElementById("app").innerHTML = amount;


            if(flag==1){
                console.log("Minutes Duration="+minutesDuration);
                console.log("Hours Duration="+hoursDuration);
                console.log("Days Duration="+daysDuration);
                console.log("Months Duration="+monthsDuration);
            }
    }

    }
}

$("#cmt").click(function(e){
    
       if($("#foc").val()!==""){
        var data = {
               comment:$("#foc").val()
        };
        $("#foc").val("");
        
    $.ajax({
        url : "/comment/<%=hotel._id %>",
        type : 'post',
        data : JSON.stringify(data),
        contentType : 'application/json'
    }).done(appendComment)
      .fail(failure)
       }
})



function appendComment(data){
            $("#appendComment").append('<div class="card card-body bg-light" style="margin:10px 0px"><blockquote>'+data.Comment+'</blockquote><div style="text-align: right;" class="credit"><cite>-'+data.Author.name+'</cite></div><div class="form-inline"><form action="/hotel/<%=hotel._id%>/comment/'+data._id+'/edit" method="get"><input type="submit" value="Edit" class="btn" style="margin-right: 5px;"></form><form id="delete-form" action="/hotel/<%=hotel._id%>/comment/'+data._id+'?_method=DELETE" method="POST"><button class="btn" id="del">Delete</button></form></div></div>');
    }

    function failure(){
        console.log("Request failed!");
    }

</script>


<%-include('partials/footer.ejs') %>
