<%-include('partials/header.ejs') %>

<h1>Hotel Details</h1>
<div>
    <h2><%=hotel.name %> </h2>
    <p><%=hotel.description %></p>
    <p>Simple Room Cost= <%=hotel.cost_of_simple_room%></p>
    <p>Deluxe Room Cost= <%=hotel.cost_of_deluxe_room%></p>
    <p>Super Deluxe Room Cost= <%=hotel.cost_of_superDeluxe_room%></p>
    <center>
    <form action="/checkAvailability/<%=hotel._id%>" method="POST">
        <table border="1px">
            <tr>
                <th>Room Type</th>
                <td><input type="text" name="roomType" list="items" value="Simple">
                    <datalist id="items">
                        <option value="Simple"></option>
                        <option value="Deluxe"></option>
                        <option value="Super Deluxe"></option>
                    </datalist>
                </td>
            </tr>
            <tr>
                <th>Number of Rooms</th>
                <td><input type="number" name="No_of_room" id="no" value="2"></td>
            </tr>         
            <tr>
                <th>From</th>
                <td><input type="text" name="from" placeholder="Format : yyyy-mm-dd-hh:mm" value="2020-05-11-10:30"></td>
            </tr>  
            <tr>
                <th>To</th>
                <td><input type="text" name="to" placeholder="Format : yyyy-mm-dd-hh:mm" value="2020-05-13-11:30"></td>
            </tr> 
            <tr>
                <td><h4 >Total</h4></td>
                <td onclick="Amount()"><span id="app"></span></td>
            </tr>
        <tr>
            <td><input type="submit" value="Pay"></td>
            <td><input type="reset" value="reset"></td>
        </tr>
        </table>

    </form>
           <well>
            <% hotel.comment.forEach(function(comment){ %>
                <p><%= comment.Comment %></p>
                <small>-<%= comment.Author.name %></small>
              <%  if(currentUser){ %>
                    <% if(comment.Author.id==currentUser.id){  %>
                        <a href="/hotel/<%=hotel._id%>/comment/<%=comment._id%>/edit" class="button">Edit</a>
                        <form id="delete-form" action="/hotel/<%=hotel._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <%}%>
                 <% }  %>
            <% }); %>
            </well>
        

    <% if(currentUser){  %>
       <form method="post" action="/comment/<%=hotel._id %>">
           <input type="text" name="comment" placeholder="Comments">
           <button class="button">Comment</button>
       </form>
      <% } %>

    </center>
    
    
</div>


<script>
    function Amount(){
    var nos = document.getElementById("no").value;
    var types = document.getElementsByName("roomType")[0].value;
    var amount="";
    if(types.localeCompare("Simple")==0){
        amount = parseInt(nos) * parseInt("<%=hotel.cost_of_simple_room%>");
    }else if(types.localeCompare("Deluxe")==0){
        amount = parseInt(nos) * parseInt("<%=hotel.cost_of_deluxe_room%>");
    }else if(types.localeCompare("Super Deluxe")==0){
        amount = parseInt(nos) * parseInt("<%=hotel.cost_of_superDeluxe_room%>");
    }
    
        document.getElementById("app").innerHTML = amount;
}

</script>


<%-include('partials/footer.ejs') %>
